<div class="center jumbotron">
  <h1>Welcome to the Library Website</h1>

  <h2>
    This is the home page for the library website.
  </h2>

  <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("", alt: "Library Logo"), "#" %>
