<% provide(:title, 'All authors') %>
<h1>All authors</h1>
<% if logged_in? && current_user.admin? %>
  <%= link_to "Add new author", authors_new_path %>
<% end %>

<%= will_paginate %>

<ul class="authors">
  <%= render @authors %>
</ul>

<%= will_paginate %>