<% @user ||= current_user %>
<div class="stats">
  <% if logged_in? && current_user.admin? %>
    <a href="<%= reserving_user_path(@user) %>">
  <% else %>
    <a href="#">
  <% end %>
    Reserving
    <strong id="reserving" class="stat">
      <%= @user.reserving.count %>
    </strong>
     books
  </a>
  <% if logged_in? && current_user.admin? %>
    <a href="<%= borrowing_user_path(@user) %>">
  <% else %>
    <a href="#">
  <% end %>
    Borrowing
    <strong id="borrowing" class="stat">
      <%= @user.borrowing.count %>
    </strong>
     books
  </a>
</div>