<footer class="footer">
  <small>
    The Library Website by 611222242
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", "#" %></li>
    </ul>
  </nav>
</footer>