<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Suffolk Libraries", root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path, id: "nav-item" %></li>
        <li><%= link_to "Help",   help_path, id: "nav-item" %></li>
        <li><%= link_to "Log in", '#', id: "nav-item" %></li>
      </ul>
    </nav>
  </div>
</header>